git add .public/webfonts/fa-brands-400.svg
public/webfonts/fa-brands-400.woff
public/webfonts/fa-brands-400.woff2
public/webfonts/fa-regular-400.svg
public/webfonts/fa-regular-400.woff
public/webfonts/fa-regular-400.woff2
public/webfonts/fa-solid-900.svg
public/webfonts/fa-solid-900.woff
public/webfonts/fa-solid-900.woff2
first copy files/index-1.html
first copy files/script-1.js
first copy files/style-1.css
public/sign-in-form.html
